<div class="login-form">
    <h2>Login</h2>
  
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <!-- Username Field -->
      <div class="form-group">
        <label for="userName">Username / Email</label>
        <input id="userName" formControlName="userName" type="text" class="form-control" />
        <div *ngIf="userName!.invalid && userName!.touched" class="error">
          Please enter a valid email address
        </div>
      </div>
  
      <!-- Password Field -->
      <div class="form-group">
        <label for="password">Password</label>
        <input id="password" formControlName="password" type="password" class="form-control" />
        <div *ngIf="password!.invalid && password!.touched" class="error">
          Password is required (min 6 characters)
        </div>
      </div>
      <div *ngIf="invalidCredentials" style="color: red;">Invalid Credentials</div>
  
      <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">
        Login
      </button>
    </form>
  </div>
  